# <center>  ECE 657A Homework 2: Data Normalization <center>  # 
##  <center> Shuting Lian 20718506  <center> ##
<p align="left"> In this homework, I used python pandas, numpy, scipy, sklearn.preprocessing for data normalization.</p>
<p align="left"> As shown in df1, the first 10 rows are selected. </p>

In [144]:
import pandas as pd
import numpy as np
import scipy
from sklearn import preprocessing
df = pd.io.parsers.read_csv(
    'winequality-red.csv',sep =';')
df1= df.loc[0:9,]
df1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

<p> The table below shows the values with min-max normalized values. As shown, values are all in [0,1]. </p>

In [63]:
minmax_scale = preprocessing.MinMaxScaler().fit(df1)
df_minmax = minmax_scale.transform(df1)
rs2 = pd.DataFrame.from_dict(data=df_minmax)
rs2 = rs2.rename_axis('min-max normalized values')
rs2

,0,1,2,3,4,5,6,7,8,9,10,11
min-max normalized values,,,,,,,,,,,,
0,0.025641,0.700000,0.000000,0.142857,0.333333,0.125,0.190476,0.941176,1.000000,0.294118,0.000000,0.0
1,0.128205,1.000000,0.000000,0.285714,1.000000,1.000,0.583333,0.647059,0.114286,0.647059,0.363636,0.0
2,0.128205,0.800000,0.071429,0.224490,0.818182,0.375,0.428571,0.705882,0.285714,0.558824,0.363636,0.0
3,1.000000,0.000000,1.000000,0.142857,0.303030,0.500,0.500000,1.000000,0.000000,0.352941,0.363636,0.5
4,0.025641,0.700000,0.000000,0.142857,0.333333,0.125,0.190476,0.941176,1.000000,0.294118,0.000000,0.0
5,0.025641,0.633333,0.000000,0.122449,0.303030,0.250,0.261905,0.941176,1.000000,0.294118,0.000000,0.0
6,0.153846,0.533333,0.107143,0.081633,0.121212,0.375,0.488095,0.529412,0.400000,0.000000,0.000000,0.0
7,0.000000,0.616667,0.000000,0.000000,0.000000,0.375,0.035714,0.000000,0.657143,0.029412,0.545455,1.0
8,0.128205,0.500000,0.035714,0.163265,0.242424,0.000,0.000000,0.647059,0.571429,0.323529,0.090909,1.0
9,0.051282,0.366667,0.642857,1.000000,0.181818,0.500,1.000000,0.941176,0.542857,1.000000,1.000000,0.0

<p> Then, z-score normalization is implemented. </p>

In [64]:
std_scale =preprocessing.StandardScaler().fit(df1)
df_std = std_scale.transform(df1)
rs1 = pd.DataFrame.from_dict(data=df_std)
rs1 = rs1.rename_axis('z-score normalized values')
rs1

,0,1,2,3,4,5,6,7,8,9,10,11
z-score normalized values,,,,,,,,,,,,
0,-0.498662,0.451753,-0.563489,-0.329398,-0.103362,-0.896665,-0.626576,0.731200,1.276466,-0.305196,-0.880830,-0.620174
1,-0.135999,1.630239,-0.563489,0.206831,2.170608,2.406839,0.761143,-0.284356,-1.276466,0.957683,0.293610,-0.620174
2,-0.135999,0.844582,-0.346763,-0.022981,1.550434,0.047193,0.214466,-0.081244,-0.782350,0.641963,0.293610,-0.620174
3,2.946642,-2.298048,2.470683,-0.329398,-0.206725,0.519122,0.466778,0.934311,-1.605877,-0.094716,0.293610,0.620174
4,-0.498662,0.451753,-0.563489,-0.329398,-0.103362,-0.896665,-0.626576,0.731200,1.276466,-0.305196,-0.880830,-0.620174
5,-0.498662,0.189867,-0.563489,-0.406002,-0.206725,-0.424736,-0.374264,0.731200,1.276466,-0.305196,-0.880830,-0.620174
6,-0.045333,-0.202961,-0.238399,-0.559211,-0.826898,0.047193,0.424726,-0.690578,-0.452940,-1.357594,-0.880830,-0.620174
7,-0.589328,0.124396,-0.563489,-0.865627,-1.240347,0.047193,-1.173253,-2.518578,0.288234,-1.252354,0.880830,1.860521
8,-0.135999,-0.333904,-0.455126,-0.252794,-0.413449,-1.368595,-1.299409,-0.284356,0.041176,-0.199956,-0.587220,1.860521
9,-0.407997,-0.857676,1.387050,2.887978,-0.620174,0.519122,2.232966,0.731200,-0.041176,2.220561,2.348881,-0.620174

<p> Then, I substract each value in the cell with the mean of its column for normalization. </p>

In [146]:
tmp = df1.mean()
rs3 = df1.sub(tmp,axis='columns')
rs3 = rs3.rename_axis('mean subtracted normalized values')
rs3

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
mean subtracted normalized values,,,,,,,,,,,,
0,-0.55,0.069,-0.104,-0.43,-0.001,-3.8,-14.9,0.00072,0.155,-0.029,-0.3,-0.5
1,-0.15,0.249,-0.104,0.27,0.021,10.2,18.1,-0.00028,-0.155,0.091,0.1,-0.5
2,-0.15,0.129,-0.064,-0.03,0.015,0.2,5.1,-0.00008,-0.095,0.061,0.1,-0.5
3,3.25,-0.351,0.456,-0.43,-0.002,2.2,11.1,0.00092,-0.195,-0.009,0.1,0.5
4,-0.55,0.069,-0.104,-0.43,-0.001,-3.8,-14.9,0.00072,0.155,-0.029,-0.3,-0.5
5,-0.55,0.029,-0.104,-0.53,-0.002,-1.8,-8.9,0.00072,0.155,-0.029,-0.3,-0.5
6,-0.05,-0.031,-0.044,-0.73,-0.008,0.2,10.1,-0.00068,-0.055,-0.129,-0.3,-0.5
7,-0.65,0.019,-0.104,-1.13,-0.012,0.2,-27.9,-0.00248,0.035,-0.119,0.3,1.5
8,-0.15,-0.051,-0.084,-0.33,-0.004,-5.8,-30.9,-0.00028,0.005,-0.019,-0.2,1.5
9,-0.45,-0.131,0.256,3.77,-0.006,2.2,53.1,0.00072,-0.005,0.211,0.8,-0.5

<p>In the following section, I display the max and min distance with manhatten distance,euclidean distance
and cosine distance in three tables below.</p>

In [141]:
cal_array = np.zeros([10,9])
for i in range(0,10):
    for j in range(1,10):
        d = scipy.spatial.distance.cityblock(df1.iloc[i], df1.iloc[j], w=None)
        cal_array[i][j-1]=d

mh_max = np.nanmax(cal_array,axis=1,out=mh_max)
cal_array1 = cal_array[cal_array != 0].reshape((10,8))
mh_min = np.nanmin(cal_array1,axis=1,out=mh_min)
mh_rs = pd.DataFrame(data=[mh_max, mh_min]).T
mh_rs.set_axis(['max_distance','min_distance'],axis = 1, inplace = True)
mh_rs.rename_axis('manhatten distance',axis=0,inplace = True)
mh_rs

                    max_distance  min_distance
manhatten distance
0                        80.3650        8.1410
1                        68.5150       20.1894
2                        55.6418        6.6336
3                        55.8532        9.0876
4                        80.3650        8.1410
5                        72.4240        8.1410
6                        51.7934        6.6336
7                        91.4892       11.0302
8                       100.0630       11.0302
9                       100.0630       48.5380

In [143]:
cal_array2 = np.zeros([10,9])
for i in range(0,10):
    for j in range(1,10):
        d = scipy.spatial.distance.euclidean(df1.iloc[i], df1.iloc[j])
        cal_array2[i][j-1]=d

ed_max = np.nanmax(cal_array2,axis=1,out=ed_max)
cal_array3 = cal_array2[cal_array2 != 0].reshape((10,8))
ed_min = np.nanmin(cal_array3,axis=1,out=ed_min)
ed_rs = pd.DataFrame(data=[ed_max, ed_min]).T
ed_rs.set_axis(['max_distance','min_distance'],axis = 1, inplace = True)
ed_rs.rename_axis('euclidean distance',axis=0,inplace = True)
ed_rs

                    max_distance  min_distance
euclidean distance
0                      68.404041      6.325472
1                      51.590491     11.257696
2                      48.199803      5.071906
3                      42.907828      4.186459
4                      68.404041      6.325472
5                      62.289232      6.325472
6                      43.299401      4.186459
7                      81.200755      6.793841
8                      84.510798      6.793841
9                      84.510798     36.085200

In [140]:
cal_array4 = np.zeros([10,9])
for i in range(0,10):
    for j in range(1,10):
        d = scipy.spatial.distance.cosine(df1.iloc[i], df1.iloc[j])
        cal_array4[i][j-1]=d

cos_max = np.nanmax(cal_array4,axis=1,out=cos_max)
cal_array5 = cal_array4[cal_array4 != 0.0].reshape((10,8))
cos_min = np.nanmin(cal_array5,axis=1,out=cos_min)
cos_rs = pd.DataFrame(data=[cos_max, cos_min]).T
cos_rs.set_axis(['max_distance','min_distance'],axis = 1, inplace = True)
cos_rs.rename_axis('cosine distance',axis=0,inplace = True)
cos_rs

                 max_distance  min_distance
cosine distance
0                    0.051499      0.001322
1                    0.099274      0.004858
2                    0.089001      0.000601
3                    0.086412      0.001097
4                    0.051499      0.001322
5                    0.060757      0.001322
6                    0.102130      0.000601
7                    0.159302      0.015776
8                    0.153601      0.015776
9                    0.159302      0.007549